/* write your CSS here */
h1 {
  color: blue;
}
p {
  color: blue;
}
p {
  font-family: helvetica;
}
p {
  font-size: 16px;
}
ul li {
  background-color: yellow;
}
ol li {
  background-color: teal;
}
h2 {
  color: green;
}
h2 {
  background-color: orange
}
